@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.row {
    display: flex;
    flex-wrap: nowrap;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.chart-container {
    background-color: white;
    display: flex;
    margin:auto;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.4rem;
    box-shadow: 10px 11px 10px -12px rgba(0,0,0,0.61);
}